<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add page</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'team_members/css/style.css' %}">
</head>
<body>

<h2>Add a team member</h2>
<p>Set email, location and role.</p>

<form action="{% url 'team_members:create' %}" method="post">
    {% csrf_token %}

    <div class="errors">
        {{ form.non_field_errors }}
    </div>

    <fieldset class="fieldset-auto-width">
        <legend><h3>Info</h3></legend>

        <input type="text" id="first_name" size="50" placeholder="Charlene" name="first_name" required></input><br><br>
        <input type="text" id="last_name" size="50" placeholder="Pham" name="last_name" required></input><br><br>
        <input type="text" id="email" size="50" placeholder="charlene@instawork.com" name="email" required></input><br><br>
        <input type="text" id="phone_number" size="12" placeholder="415-310-1619" name="phone_number" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required></input><br><br>
    </fieldset>

    <div class="role-block">
        <h3>Role</h3>
        {% for role_choice in member_role_choices %}
            <input type="radio" id="role_{{ role_choice.0 }}" name="role" value={{ role_choice.0 }} {% if forloop.first %}checked{% endif %}>
            <label for="role_{{ role_choice.0 }}">{{ role_choice.1 }}</label><br>
        {% endfor %}
    </div>

    <br><br>
    <input type="submit" value="Save">
</form>

</body>
</html>
